HOST=0.0.0.0
PORT=9999
LOG_LEVEL=INFO
DRIVER=~fastapi+~httpx+~websockets
QQ_IS_SANDBOX=false                      #是否为沙盒模式
PLATFORM=QQ_OFFICIAL
QQ_BOTS='
[
  {
    "id": "xxx",
    "token": "xxx",
    "secret": "xxx",
    "intent": {
      "c2c_group_at_messages": true,
      "direct_message": true
    }
  }
]
'

htmlrender_browser = "chromium"         #默认使用chromium启动，出现问题了请改为"firefox"尝试
COMMAND_START=[""] #指令触发前缀 为空表示不需要任何前缀
API_TOKEN = 123456:qwertyuiopasdfghjl  #请加群发送.token help获取api_key和token Q群:967546463，直接用邮件中的token替换前面这串字符串就行了，没有引号
UPLOAD_IMAGE = qq                    #图片上传方式，local：本地(需公网IP)，qq：QQ官方服务器(无需公网/图床)，oss：阿里云对象存储，smms：SMMS图床，后两项需获取对应token
UPLOAD_LOCAL_URL = http://127.0.0.1:8080 #本地图片上传成功后返回的图片地址
OSS_ENDPOINT = xxxx
OSS_BUCKET = xxxxx
OSS_ID = XXXXXXXX
OSS_KEY = xxxxx
SMMS_KEY = xxxxx

BOT_SELECT_MSG_IS_MD = false          #选择类消息是否使用md格式发送，默认false
BOT_SELECT_MSG_IS_MD_MAX_SIZE = 10   #选择类消息最多展示的选择数量，默认10
BOT_ENABLE_FILE_LISTEN = false        #是否启用文件消息监听（私聊/群/频道收到文件附件时触发处理），默认false

proxy_on = true                 #是否启用代理
proxy = http://localhost:7890   #代理地址，如果上面选项开启，这边替换为你本地的
http2 = true                    #是否开启http2，默认开启，如果有问题请设置为false